body {
    background-image: url(https://media.istockphoto.com/id/1294440250/vector/seamless-gray-pattern-with-dog-paws-and-bones.jpg?s=612x612&w=0&k=20&c=nCTuqIEW5NHVvmsPuNShXRck0_EhzMskcnCY4qd70XI=);
    /*background-color:#d0bdf4;*/
    padding: 50px;
    text-align: center;
  }
  
  main {
    background-color: #857977;
    font-family: Tahoma;
    border-radius: 30px;
    padding-top: 3px;
    opacity: 0.8;
    text-align: center;
  }
  
  h1, p {
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    display: block;
    text-align: center;
  }
  
  label, legend {
    display: block;
    font-size: 1em;
    margin: 0 auto;
  }
  
  input, textarea, select {
    margin: 10px 0 0 0;
  }
  
  
  
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  